.global {
  &-max-height {
    height: 100%;
  }

  &-max-width {
    width: 100%;
  }

  &-flex {
    display: flex;

    &-row {
      @extend .global-flex;
      flex-direction: row;
    }

    &-column {
      @extend .global-flex;
      flex-direction: column;
    }

    &-justify {
      &-content {
        &-center {
          justify-content: center;
        }
      }
    }

    &-align {
      &-items {
        &-center {
          align-items: center;
        }
      }
    }
  }

  &-center {
    @extend .global-flex;
    @extend .global-flex-justify-content-center;
    @extend .global-flex-align-items-center;
  }
}
