@import "../global.scss";

.carousel {
  //&-container {
  //  @extend .global-flex;
  //  @extend .global-flex-justify-content-center;
  //  @extend .global-flex-align-items-center;
  //}

  &-item {
    width: 600px !important;

    &-container {
      //width: fit-content;
      @extend .global-max-height;
    }

    &-image {
      max-width: 100% !important;
      max-height: 100% !important;
      background-color: gainsboro;

      &-container {
        //width: fit-content;
        @extend .global-max-height;
        @extend .global-flex;
        @extend .global-flex-align-items-center;
      }
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      @extend .global-flex-column;
      @extend .global-flex-justify-content-center;
      @extend .global-flex-align-items-center;

      &-title {
      }

      &-message {
      }
    }
  }
}
